<header>
    <h1>Project 1 | PHP</h1>
    <nav class="nav">
        <a href="first.php">First block questions</a>
        <a href="second.php">Second block questions</a>
        <a href="third.php">Third block questions</a>
    </nav>
</header>
<br><br><br>